<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login Gateway App</title>

    <link rel="stylesheet" href="static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<form action="" method="post">
    <label for="name"></label>
    <input type="text" placeholder="Username" id="name" name="username">
    <label for="pw"></label>
    <input type="password" placeholder="Password" id="pw" name="password">

    <input type="submit" class="ipt_submit" value="Login">
</form>

</body>
</html>