<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>low-cost Gateway</title>

    <link rel="stylesheet" href="static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="wrapper">

    <header>

        <h1>
            LoRa Low-Cost Gateway
        </h1>
    </header>

    <div>

        <div class="infobox">
            <form action="" id="gatewayStopForm" method="post">

                <h4>LoRa Parameter</h4>

                  <input id="stopGT" name="stop_radio" type="radio" name="stopRadioBtn" checked value="1" style="display: none">

                <input type="submit" form="gatewayStopForm" value="Stop Gateway" class="ipt_submit">
            </form>


            <div class="runInfoWrap">
                <h4>Status</h4>
                <label>Gateway:</label>
                <div id="gt_status" class="showParaBox"></div>
                <label>Frequency:</label>
                <div id="gt_fq" class="showParaBox">{{ gt_para.freq }} Hz</div>
                <label>Spreading Factor:</label>
                <div id="gt_sf" class="showParaBox">{{ gt_para.sf }}</div>
                <label>Code Rate:</label>
                <div id="gt_cr" class="showParaBox">{{ gt_para.cr }}</div>
                <label>Bandwidth:</label>
                <div id="gt_bw" class="showParaBox">{{ gt_para.bw }}</div>
            </div>
        </div>
    </div>

</div>

<footer>
    <h3>
        Labp Leipzig | LoRa Low-Cost Gateway
    </h3>
</footer>


<script>

    var formTag = document.getElementById("gatewayStartForm");

    if(formTag[0].checkValidity() === false){ alert('Validation of parameters. Failed' +
            ' Please enter correct parameters!');
    }
</script>

</body>
</html>